---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Intro from '../components/Intro.astro';
import AboutMe from '../components/AboutMe.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Education from '../components/Education.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import LanguageSwitch from '../components/LanguageSwitch.astro';

import { Astro } from 'astro/server';

const url = new URL(Astro.request.url);
let currentLanguage = url.searchParams.get('lang') || 'spanish';
---

<Layout title="César Pagán | Ingeniero de Software">
    <main>
        <Header currentLanguage={currentLanguage}/>
        <Intro currentLanguage={currentLanguage}/>
        <AboutMe currentLanguage={currentLanguage}/>
        <Experience currentLanguage={currentLanguage}/>
        <Projects currentLanguage={currentLanguage}/>
        <Education currentLanguage={currentLanguage}/>
        <Contact currentLanguage={currentLanguage}/>
        <Footer currentLanguage={currentLanguage}/>
        <LanguageSwitch currentLanguage={currentLanguage}/>
    </main>
