---
const { school } = Astro.props;

import Flutter from '../svg/tech/Flutter.astro';
import Firebase from '../svg/tech/Firebase.astro';
import Dart from '../svg/tech/Dart.astro';

const technologyComponents = {
    'Dart': Dart,
    'Flutter': Flutter,
    'Firebase': Firebase,
};
---

<div class="card">
    <div class="card2">
        <div class="image-container">
            <img src={school.image} alt={`Imagen de ${school.title}`} />
        </div>
        <div class="info-container">
            <div class="content">
                <h2>{school.title}</h2>
                <h3>{school.subtitle}</h3>
                <p class="period">{school.period}</p>
                <p class="description">{school.description}</p>
                <hr class="divider" />
            </div>

        </div>
    </div>
</div>

<style>
    
    .card {
        width: 1200px;
        height: 450px;
        background-image: linear-gradient(163deg, #ffffff 0%, #264edf 100%);
        border-radius: 40px;
        transition: all 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card2 {
        width: 100%;
        height: 100%;
        background-color: #1a1a1a;
        border-radius: 20px;
        transition: all 0.2s;
        display: flex;
        overflow: hidden;
    }

    .card2:hover {
        transform: scale(0.99);
        border-radius: 40px;
    }

    .card:hover {
        box-shadow: 0px 0px 30px 1px rgba(45, 110, 213, 0.3);
    }

    .image-container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .info-container {
        flex: 2;
        padding: 15px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%; 
    }

    h2 {
        color: #427bff;
        font-size: 2em;
        margin-bottom: 5px; 
    }

    h3 {
        color: #427bff;
        font-size: 1.5em;
        opacity: 0.75;
        margin-bottom: 5px;
    }

    .period {
        font-size: 1em;
        opacity: 0.55;
        margin-bottom: 15px; 
    }

    .description{
        line-height: 2;
        margin-bottom: 1rem;
    }

    .divider {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, transparent, #fff, transparent);
    }

    .technologies {
        position: relative;
        width: calc(100% - 650px);
        display: flex;
        justify-content: center; 
        align-items: center;
        gap: 10px;
        flex-direction: row;
        max-height: 40px; 
    }
</style>
