---
const { job } = Astro.props;
import Verdementa from '../svg/Verdementa.astro';
import AytoCartagena from '../svg/AytoCartagena.astro';

import Django from '../svg/tech/Django.astro';
import Python from '../svg/tech/Python.astro';
import ASPNet from '../svg/tech/ASPNet.astro';
import PostgreSQL from '../svg/tech/PostgreSQL.astro';
import Redis from '../svg/tech/Redis.astro';
import HTML from '../svg/tech/HTML.astro';
import Javascript from '../svg/tech/Javascript.astro';
import Bootstrap from '../svg/tech/Bootstrap.astro';
import CSS from '../svg/tech/CSS.astro';
import CSharp from '../svg/tech/CSharp.astro';
import Xamarin from '../svg/tech/Xamarin.astro';
import XML from '../svg/tech/XML.astro';

const technologyComponents = {
    'Django': Django,
    'Python': Python,
    'ASPNet': ASPNet,
    'PostgreSQL': PostgreSQL,
    'Redis': Redis,
    'HTML': HTML,
    'Javascript': Javascript,
    'Bootstrap': Bootstrap,
    'CSS': CSS,
    'CSharp': CSharp,
    'Xamarin': Xamarin,
    'XML': XML,
};

---

<div class="card">
    <div class="content">
      <div class="back">
        <div class="back-content">
            <strong>{job.title}</strong>
            {job.company === 'Verdementa' && <Verdementa />}
            {job.company === 'Ayuntamiento de Cartagena' && <AytoCartagena />}
            <strong>{job.company}</strong>
            <strong>{job.period}</strong>
            <div class="technologies">
              {job.technologies.map((tech) => {
                const TechComponent = technologyComponents[tech];
                return <TechComponent />; 
              })}
            </div>
        </div>
      </div>
      <div class="front">

        <div class="img">
          <div class="circle">
          </div>
          <div class="circle" id="right">
          </div>
          <div class="circle" id="bottom">
          </div>
        </div>
  
        <div class="front-content">
          <small class="badge">{job.company}</small>
          <div class="pre-line">
            {job.description}
          </div>
          <div class="description">
            <div class="title">
              <p class="title">
                <strong>{job.title}</strong>
              </p>
            </div>
            <p class="card-footer">
                {job.period}
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="technologies">
      {job.technologies.map((tech, index, array) => {
      const TechComponent = technologyComponents[tech];
      return <TechComponent />; 
      })}
    </div> -->
</div>

<style>

.technologies {
  width: calc(100% - 250px);
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  gap: 10px;
  padding: 10px 0; 
  background-color: transparent; 
}

/* .technologies {
  width: 100%; 
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  gap: 10px;
  padding: 10px 100px;
  background-color: #0f0e0e; 
} */

.pre-line {
  white-space: pre-line;
}

.card {
  overflow: visible;
  width: 590px;
  height: 354px;
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.front, .back {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 200px;
  height: 200%;
  background: linear-gradient(90deg, transparent, #4875b9, #4875b9, #4875b9, #4875b9, transparent);
  animation: rotation_481 20000ms infinite linear;
}

.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #151515;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 20px;
}

.back-content strong:first-child {
  font-size: 24px; 
  margin-bottom: auto;

}

.back-content strong:nth-last-child(2) {
  font-size: 18px;
  margin-top: auto; 
}

.back-content strong:last-child {
  font-size: 18px;
}

.card:hover .content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-content .badge {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
}

.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  padding: 10px;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.title {
  font-size: 13px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.title p {
  width: 50%;
}

.card-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 12px;
  text-align: end;
}

.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #236fcb;
  position: relative;
  filter: blur(15px);
  animation: floating 2600ms infinite linear;
}

#bottom {
  background-color: #236fcb;
  left: 50px;
  top: 0px;
  width: 150px;
  height: 150px;
  animation-delay: -800ms;
}

#right {
  background-color: #236fcb;
  left: 160px;
  top: -80px;
  width: 30px;
  height: 30px;
  animation-delay: -1800ms;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}
</style>
